<html>
  <body>
    <h1>Hey! Here is your login information for TattooSoft's secure online services.</h1>
    <p>Your username is: $user.emailAddress.toLowerCase()</p>
    <p>If you have forgotten your password, you can reset it by login in using the following temporary password:</p>
    <p><b>$temp_pasword</b></p>
    <p>The password will expire on <b>$expiration_date</b></p>
    <p>You can securely access your account by going to your login page:</p>
    <p><a href="http://tattoosoft.com/web/login?reset=$esc.url(true)">http://tattoosoft.com/web/login</a></p>
    <p>If you did not send this request, you can safely ignore this email.</p>
  </body>
</html>